

<h1>Listing Adventures</h1>

<!-- <table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Picture</th>
      <th>Visit</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @adventures.each do |adventure| %>
      <tr>
        <td><%= adventure.name %></td>
        <td><%= adventure.description %></td>
        <td><%= adventure.picture %></td>
        <td><%= adventure.visit %></td>
        <td><%= link_to 'Show', adventure %></td>
        <td><%= link_to 'Edit', edit_adventure_path(adventure) %></td>
        <td><%= link_to 'Destroy', adventure, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody> 
  </table>-->
  <% @adventures.in_groups_of(3) do |group| %>
    <div class="row">
      <% group.compact.each do |adventure| %>
        <div class="col-md-4">
          <%= image_tag adventure.picture_url, width: '100%' if adventure.picture.present?%>
          <h4><%= link_to adventure.name, adventure %></h4>
          <%= adventure.description %>
        </div>
      <% end %>
    </div>
  <% end %>
